<div (click)="goToEventDetails(event.id)">
  <div class="triangle-container">
    <img src="{{event.thumbnailUrl}}" class="img-responsive">
    <div class="triangle"></div>
    <span class="triangle-text">JAN <br> 27</span>
    <!--todo: change date source to actual event's date-->
  </div>
  <h3>{{event.title}}</h3>
  <p>
    {{event.content}}
  </p>
</div>
