.triangle-container {
  position: relative;
}

.triangle{
  border-bottom: 60px solid #4d4d4d;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  opacity : 0.75;
  float:left;
  margin-left:-40px;
  position:absolute;
  top:-10px;
  -webkit-transform: rotate(-45deg);
}

.triangle-text{
  color:#fff;
  font-size:1em;
  font-weight:bold;
  position:absolute;
  left: 10px;
  top: 10px;
}

