<div class="col-sm-12 col-md-12">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">

    <input type="submit" class="btn btn-danger" value="Submit Form" >
    <input type="button" class="btn btn-info" (click)="getEventTest()" value="Noze Sprobuj">

    <div class="form-group col-sm-12 col-md-10 col-md-offset-1">
      <label for="title">{{ 'event.title' | translate}}</label>
      <input id="title" class="form-control input-md" [formControl]="myForm.controls['title']">
    </div>

    <div class="form-group col-sm-6 col-md-4 col-md-offset-1">
      <label for="startDate">{{ 'event.startDate' | translate}}</label>
      <input id="startDate"
             class="form-control"
             type="text"
             formControlName="startDate"
             bsDatepicker
             #dp="bsDatepicker">
    </div>

    <div class="form-group col-sm-6 col-md-4 col-md-offset-1">
      <label for="endDate">{{ 'event.endDate' | translate}}</label>
      <input id="endDate"
             class="form-control"
             type="text"
             formControlName="endDate"
             bsDatepicker
             #dp="bsDatepicker">
    </div>

    <div class="form-group col-sm-6 col-md-4 col-md-offset-1">
      <label for="startTime">{{ 'event.startTime' | translate}}</label>
      <timepicker id="startTime" [showMeridian]="false" [formControl]="myForm.controls['startTime']"></timepicker>
    </div>

    <div class="form-group col-sm-6 col-md-4 col-md-offset-1">
      <label for="endTime">{{ 'event.endTime' | translate}}</label>
      <timepicker id="endTime" [showMeridian]="false" [formControl]="myForm.controls['endTime']"></timepicker>
    </div>

    <div class="col-sm-12 space10">
    </div>

    <!--TODO: fix to get value from control form-->
    <div *ngIf="!!titleImgUrl" class="col-sm-12">
      <img src="{{titleImgUrl}}" class="img-responsive">
    </div>

    <div class="col-sm-12 space10">
    </div>

    <div class="col-sm-12 text-center">
      <button type="button" (click)="titleFileInput.click()" class="btn btn-success">
        <span class="glyphicon glyphicon-folder-open"></span>  {{ 'event.chooseTitleImg' | translate}}
      </button>
      <!--workaround for hiding unwanted text from file upload library-->
      <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
        <input type="file" #titleFileInput ng2FileSelect [uploader]="titleUploader" [multiple]="false"/>
      </span>

      <button type="button" class="btn btn-success btn-s"
              (click)="titleUploader.uploadAll()" [disabled]="!titleUploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span>  {{ 'event.uploadFile' | translate }}
      </button>

      <button type="button" class="btn btn-danger btn-s"
              (click)="removeTitleImg()" [disabled]="!titleImgUrl">
        <span class="glyphicon glyphicon-trash"></span>  {{ 'event.remove' | translate }}
      </button>
    </div>

    <div class="col-sm-12 space10">
    </div>

    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <ckeditor [formControl]="myForm.controls['content']"  [config]="editorConfig" debounce="500"></ckeditor>
    </div>
  </form>

</div>

<div class="row space10">
</div>

<div *ngIf="uploadedImgUrls.length > 0">
  <div *ngFor="let row of chunkImgUrls()" class="col-sm-12">
    <div *ngFor="let item of row" class="col-sm-4">
      <img class="img-expand img-rounded" src="{{item.url}}" (click)="onImgClick(item.url)">
    </div>
  </div>
</div>

<div class="row space10">
</div>

<div class="row space10">
  <div class="com-sm-12">
    <div class="form-group col-sm-4 col-sm-offset-1">
      <!--workaround for hiding unwanted text from file upload library-->
      <button (click)="fileInput.click()" class="btn btn-default">{{ 'event.chooseFiles' | translate}}</button>
      <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
        <input type="file" #fileInput ng2FileSelect [uploader]="contentUploader" [multiple]="true"/>
      </span>
    </div>
    <div class="form-group col-sm-2">
      <button type="button" class="btn btn-success btn-s"
              (click)="contentUploader.uploadAll()" [disabled]="!contentUploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload all
      </button>
    </div>
    <div class="form-group col-sm-2">
      <button type="button" class="btn btn-warning btn-s"
              (click)="contentUploader.cancelAll()" [disabled]="!contentUploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
      </button>
    </div>
    <div class="form-group col-sm-2">
      <button type="button" class="btn btn-danger btn-s"
              (click)="contentUploader.clearQueue()" [disabled]="!contentUploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove all
      </button>
    </div>
  </div>
</div>

<!--<div class="row space10">-->
  <table class="table">
    <thead>
    <tr>
      <th width="50%">Name</th>
      <th>Size</th>
      <th>Progress</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of contentUploader.queue">
      <td><strong>{{ item?.file?.name }}</strong></td>
      <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
      <td>
        <div class="progress" style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
        </div>
      </td>
      <td class="text-center">
        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
      </td>
      <td nowrap>
        <button type="button" class="btn btn-success btn-xs"
                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button>
        <button type="button" class="btn btn-warning btn-xs"
                (click)="item.cancel()" [disabled]="!item.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button type="button" class="btn btn-danger btn-xs"
                (click)="item.remove()">
          <span class="glyphicon glyphicon-trash"></span> Remove
        </button>
      </td>
    </tr>
    </tbody>
  </table>
<!--</div>-->
