.gray {
  background-color: #8792a5;
}
.red {
  background-color: #963754;
}
.green {
  background-color: #819637;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.space5 {
  margin-bottom:5px;
  margin-top:5px;
}

.space10 {
  margin-bottom:10px;
  margin-top:10px;
}

.img-expand {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
}
