<nav id="nav_bar" class="navbar navbar-inverse" [class.navbar-fixed-top]="isFixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">Liptov Žije</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav ">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">{{'nav.home' | translate}}</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="events">{{'nav.events' | translate}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li dropdown>
          <a class="clickable" dropdownToggle (click)="false"> {{getLanguage()}} <span class="flag-icon" [ngClass]="getFlag()"></span></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li><a class="menu-full-width" (click)="changeLanguage('en')"> EN <span class="flag-icon flag-icon-gb"></span></a></li>
            <li><a class="menu-full-width" (click)="changeLanguage('sk')"> SK <span class="flag-icon flag-icon-sk"></span></a></li>
          </ul>
        </li>
        <li *ngIf="isLoggedIn()" dropdown routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="clickable" dropdownToggle (click)="false">{{'nav.profile' | translate}}<span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li><a routerLink="createEvent">{{'nav.createEvent' | translate}}</a></li>
          </ul>
        </li>
        <li *ngIf="!isLoggedIn()"><a class="clickable" (click)="openRegister()"><span class="glyphicon glyphicon-user"></span>  {{'nav.register' | translate}}</a></li>
        <li *ngIf="!isLoggedIn()"><a class="clickable" (click)="openLogin()"><span class="glyphicon glyphicon-log-in"></span>  {{'nav.login'| translate}}</a></li>
        <li *ngIf="isLoggedIn()"><a class="clickable" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>  {{'nav.logout'| translate}}</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--workaround for jumping navbar after fixing it to top. Addinional taken space is navbar height + navbar's bottom margin (20px)-->
<div *ngIf="isFixed" [style.marginTop.px]="navBarHeight + 20"></div>
