<div id="lzTopPicture" class="full-width-image-1 hidden-xs">
  <div class="logo-wrapper">
    <a class="main-title">
      <div class="main-logo">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="48px" height="30px" viewBox="0 0 48 30" enable-background="new 0 0 48 30" xml:space="preserve"><g><g><path fill="#FFFFFF" d="M22.235 13.533V7.527h1.682v6.006H22.235z"></path><path fill="#FFFFFF" d="M26.821 13.533h-1.56V7.527h1.74c0.682 0 1.2 0 1.4 0.098c0.276 0.1 0.5 0.2 0.7 0.3 c0.227 0.2 0.4 0.4 0.5 0.687c0.117 0.3 0.2 0.6 0.2 0.918c0 0.357-0.06 0.673-0.175 0.9 c-0.117 0.271-0.29 0.496-0.519 0.67c-0.173 0.132-0.375 0.227-0.61 0.283c-0.232 0.058-0.607 0.086-1.122 0.086h-0.282h-0.302 V13.533z M26.821 10.23h0.317c0.401 0 0.68-0.055 0.839-0.162s0.238-0.292 0.238-0.552c0-0.251-0.077-0.431-0.234-0.538 c-0.155-0.105-0.431-0.159-0.826-0.159h-0.334V10.23z"></path><path fill="#FFFFFF" d="M31.558 13.533V8.946h-1.369V7.527h4.405v1.419h-1.371v4.587H31.558z"></path><path fill="#FFFFFF" d="M41.529 10.542c0 0.433-0.082 0.837-0.242 1.214c-0.161 0.378-0.397 0.716-0.706 1 c-0.312 0.296-0.667 0.523-1.068 0.684s-0.816 0.24-1.248 0.24c-0.437 0-0.854-0.08-1.253-0.24 c-0.399-0.16-0.751-0.388-1.056-0.684c-0.313-0.298-0.552-0.637-0.715-1.018c-0.163-0.38-0.244-0.783-0.244-1.21 c0-0.429 0.081-0.833 0.244-1.212s0.401-0.717 0.715-1.016c0.305-0.295 0.656-0.523 1.056-0.684 c0.398-0.159 0.816-0.239 1.253-0.239c0.434 0 0.9 0.1 1.3 0.239c0.403 0.2 0.8 0.4 1.1 0.7 c0.307 0.3 0.5 0.6 0.7 1.014C41.447 9.7 41.5 10.1 41.5 10.542z M38.265 12.307c0.461 0 0.845-0.167 1.146-0.501 c0.302-0.333 0.451-0.755 0.451-1.264c0-0.503-0.153-0.923-0.459-1.259c-0.306-0.337-0.686-0.505-1.139-0.505 c-0.461 0-0.844 0.167-1.146 0.503c-0.302 0.334-0.45 0.755-0.45 1.261c0 0.5 0.1 0.9 0.4 1.3 C37.41 12.1 37.8 12.3 38.3 12.307z"></path><path fill="#FFFFFF" d="M44.17 13.533l-2.562-6.006h1.769l1.222 3.359c0.012 0 0 0.1 0.1 0.3 c0.034 0.1 0.1 0.3 0.1 0.549c0.043-0.184 0.085-0.35 0.125-0.497c0.039-0.147 0.067-0.25 0.087-0.308l1.214-3.359H48 l-2.563 6.006H44.17z"></path></g><polygon fill="#FFFFFF" points="19.8,29.6 0,29.6 14.4,7.6 21.1,7.6 9.8,24.8 19.8,24.8"></polygon></g><g class="red" opacity="0.5"><polygon fill="#FFFFFF" points="5.6,0 8,0 10.6,2.7 13.1,0 15.4,0 12.6,5.3 8.4,5.3"></polygon><g><path fill="#FFFFFF" d="M22.235 29.62V15.375h3.99V29.62H22.235z"></path><path fill="#FFFFFF" d="M32.263 15.375h3.94v9.244c0 1.005-0.066 1.777-0.199 2.315c-0.131 0.539-0.35 1.016-0.653 1.4 c-0.401 0.538-0.896 0.945-1.484 1.221C33.278 29.9 32.6 30 31.9 30c-0.91 0-1.721-0.191-2.435-0.574 c-0.713-0.383-1.322-0.95-1.831-1.703l2.416-2.15c0.06 0.4 0.2 0.7 0.4 0.974c0.219 0.2 0.5 0.3 0.8 0.3 c0.376 0 0.634-0.204 0.777-0.613c0.141-0.408 0.212-1.43 0.212-3.064V15.375z"></path><path fill="#FFFFFF" d="M39.121 29.62V15.375H48v3.123h-5.028v2.472h4.74v3.056h-4.74v2.403H48v3.191H39.121z"></path></g><polygon fill="#FFFFFF" points="9.6,12.4 12.7,7.6 2.2,7.6 2.2,12.4"></polygon></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
      </div>
      <p class="text-center site-description">Koniec nudy na Liptove</p>
    </a>
  </div>
</div>

<app-navbar></app-navbar>

<div class="container">
  <div class="col-sm-12 col-md-10">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-2">
    <div class="jumbotron hidden-sm">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>
</div>

