/*
  Common style modifications shared accross the application
 */

/*changes color and corners of the jumbotron background*/
/*.container .jumbotron {*/
  /*border-radius: 2px !important;*/
  /*background-color: #AA3939 !important;*/
/*}*/

/*
  Top page picture configuration
*/

.full-width-image-1 {
  background: url('../choc_cover.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
}

.logo-wrapper {
  padding: 100px inherit;
  display: inline-block;
}

.main-title {
  display: block;
  position: relative;
  width: 48px;
  margin: 0 auto;
  text-decoration: none;
}
@media screen and (min-width: 601px) {
  .main-title .main-logo svg {
    width: 110px;
    height: 70px;
    margin: 0;
  }
}
@media screen and (min-width: 801px) {
  .main-title .main-logo svg {
    width: 160px;
    height: 100px;
  }
}
@media screen and (min-width: 601px) {
  .main-title .main-logo {
    width: auto;
    height: auto;
    padding-top: 6px;
  }
}
@media screen and (min-width: 801px) {
  .main-title .main-logo {
    padding-top: 10px;
  }
}
.main-title .site-description {
  display: none;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 601px) {
  .main-title .site-description {
    display: block;
    margin-top: 4px;
  }
}
@media screen and (min-width: 801px) {
  .main-title .site-description {
    display: block;
    margin-top: 6px;
  }
}
.main-title:hover .site-description {
  color: #fff;
}
@media screen and (min-width: 601px) {
  .main-title {
    display: inline-block;
    width: auto;
  }
}

#header .main-title .main-logo,
#header .small-title .main-logo {
  width: 48px;
  height: 40px;
}
.main-title .main-logo svg,
.small-title .main-logo svg {
  margin: 5px 0;
}
.main-title:hover .main-logo svg .red,
.small-title:hover .main-logo svg .red {
  opacity: 1;
}
.main-title:hover .main-logo svg .red *,
.small-title:hover .main-logo svg .red * {
  fill: #e14d43;
}
