<div class="row">
  <img src="{{openedEvent.thumbnailUrl}}" class="img-responsive">
</div>

<div class="row info-bar">
  <label class="col-sm-1">
    Date :
  </label>
  <span class="col-sm-3">
    {{getDateRange()}}
  </span>
  <label class="col-sm-1">
    Time :
  </label>
  <span class="col-sm-3">
    {{getTimeRange()}}
  </span>
  <div class="col-sm-2"></div>
  <button (click)="toogleMap()" class="col-sm-2 btn btn-default" type="button" data-toggle="collapse" data-target="#mapWell" aria-expanded="false" aria-controls="mapWell">
    Show Map
  </button>
</div>

<div class="row collapse" id="mapWell">
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="true"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)">

    <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">

      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>

    </agm-marker>

    <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
                [radius]="5000"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true">
    </agm-circle>
  </agm-map>
</div>

<div class="row text-content">
  <p><a href="https://www.facebook.com/tridentsk/">III TRIDENT.sk</a>&nbsp;&amp;&nbsp;<a href="https://www.facebook.com/letitrollsk/">Let It Roll Slovakia</a>&nbsp;uv&aacute;dzaj&uacute;</p>

  <p>&mdash; 8. ROČN&Iacute;K TANEČN&Eacute;HO FESTIVALU NA HOR&Aacute;CH &mdash;<br />
    &ndash; v najlep&scaron;ie stredisku a najlep&scaron;om klube&nbsp;<a href="https://www.facebook.com/HappyEndJasna/">Happy END Jasn&aacute;</a>&nbsp;!</p>

  <p>!!! OP&Auml;Ť AŽ DVA DNI (2 DAYS) !!!</p>

  <p>● PIATOK (FRIDAY) // House, Techno ●<br />
    PRYMATE (Ushuaia.Ibiza)<br />
    DRAHOSH (sk)<br />
    TAMIRA (sk)<br />
    BOLLO (sk)<br />
    JTBIG (sk)<br />
    SECOND ELEMENT (sk)<br />
    SOFI F (sk)<br />
    GOMBO (sk)<br />
    + Contest Winner</p>

  <p>● SOBOTA (SATURDAY) // Drum &amp; Bass ●<br />
    THE PROTOTYPES (uk)<br />
    A-CRAY (cz)<br />
    DERRICK &amp; TONIKA (ua)<br />
    PIXIE b2b SUKI (cz)<br />
    BIFIDUS AKTIF b2b SNOOKEY (cz)<br />
    KATO &amp; JIMMY DANGER 7 MILA_MILA 207 (sk/uk/cz)<br />
    BEATY b2b GESI (cz/sk)<br />
    PIATOK (sk)<br />
    + Contest Winner</p>

</div>
