agm-map {
  height: 300px;
}

.info-bar {
  background-color: #343434;
  padding-bottom: 20px;
  padding-top: 20px;
}

.info-bar label {
  color: #FFFFFF;
}

.info-bar span {
  color: #FFFFFF;
}

.text-content {
  border: 1px;
  border-style: solid;
  border-color: #0d0d0d;
}
