<div *ngFor="let row of chunkEvents()" class="col-sm-12">
  <div *ngFor="let currentEvent of row" class="col-sm-6">
    <app-event-overview [event]="currentEvent"></app-event-overview>
  </div>
</div>
